
      .flip-box {
        perspective: 800px;
      }

      .flip-inner {
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
      }

      .flip-animate {
        animation: flip 0.6s ease-in-out;
      }

      @keyframes flip {
        0% {
          transform: rotateX(0deg);
        }
        50% {
          transform: rotateX(-90deg);
        }
        100% {
          transform: rotateX(0deg);
        }
      }