.carousel {
  width: 100%;
  margin: 100px auto;
  position: relative;
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.group {
  display: flex;
  gap: 1.5rem;
  padding-right: 1em;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  flex: 1 0 280px;
  padding: 2.5rem;
  background: #eee;
  border-radius: 0.5rem;
  text-align: center;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.carousel:hover .carousel-track {
  animation-play-state: paused;
}

.card h1 {
  font-weight: 700;
}
.card p {
  font-size: 14px;
  padding: 10px;
  color: rgb(61, 60, 60);
}
.card img {
  position: absolute;
  top: -48px;
  z-index: 10;
  width: 80px;
}
