.fa-hand {
  box-shadow:
    inset 0px 4px 0px 0px #808080aa,
    0px 0px 0px 15px #4865f4,
    0px 4px 0px 15px #2a46c0;
}
.fa-hand-scissors {
  box-shadow:
    inset 0px 4px 0px 0px #808080aa,
    0px 0px 0px 15px #ec9e0e,
    0px 4px 0px 15px #c56b1b;
}
.fa-hand-back-fist {
  box-shadow:
    inset 0px 4px 0px 0px #808080aa,
    0px 0px 0px 15px #dc2e4e,
    0px 4px 0px 15px #9c1633;
}
